.sidenav-container {
  height: 100%;
  background-color: rgb(248, 249, 254);
}

.sidenav {
  width: 270px;
  background-color: #fff;
  border: unset;
}

// .sidenav .mat-toolbar {
//   background: inherit;
// }

.mat-toolbar {
  background-color: #007bff;
  color: #fff;
}

.router-active {
  color: #007bff;
  font-weight: bold;
  background-color: #eaeaea;
  border-right: 3px solid #007bff;
}
