.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 270px;
}

// .sidenav .mat-toolbar {
//   background: inherit;
// }

.mat-toolbar {
  background-color: #007bff;
  color: #fff;
}

.router-acrive {
  color: #007bff;
  font-weight: bold;
  background-color: #eaeaea;
  border-right: 3px solid #007bff;
}
