<div class="row">
  <div class="col-md-4">
    <form
      #formSearchStudent="ngForm"
      (ngSubmit)="
        formSearchStudent.valid
          ? searchRoom(formSearchStudent.value.roomNumber)
          : ''
      "
    >
      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <td style="vertical-align: middle; align-items: center;">
              <mat-form-field appearance="outline">
                <mat-label>เลขห้อง</mat-label>
                <input
                  matInput
                  placeholder=""
                  type="text"
                  name="roomNumber"
                  ngModel
                  required
                />
              </mat-form-field>
            </td>
            <td style="vertical-align: middle; align-items: center;">
              <button type="submit" class="btn btn-primary">
                ค้นหา
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

<div class="card" *ngIf="roomSearchData">
  <div class="card-body">
    {{ roomSearchData | json }}
  </div>
</div>
