<div class="row">
  <div class="col-md-7"></div>
  <div class="col-md-5">
    <mat-form-field appearance="outline">
      <mat-label>ค้นหาผู้ดูแลหอพัก</mat-label>
      <input matInput placeholder="ชื่อ, นามสกุล, หมายเลขประจำดัวประชาชน" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-md-7 mb-3">
    <div class="card box-shadow" style="border: unset;">
      <h4 class="card-header bg-white">ข้อมูล</h4>
      <div class="card-body">
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-5 mb-3">
    <div class="card box-shadow" style="border: unset;">
      <h4 class="card-header bg-white">แก้ไขรหัสผ่าน</h4>
      <div class="card-body">
        <p class="card-text">
          With supporting text below
        </p>
      </div>
    </div>
  </div>
</div>
